# Ignore build directory
build/

# Ignore commitlint executable
tools/commitlint*

# Ignore CCLS LSP cache
.ccls-cache/

# Ignore playground
playground/

# Ignore temporary self-test output
actual_output.txt
